{% block html_head_container %}

{% set favicon_acf = product_collection.get_field('product_collection_favicon').sizes.square %}
{% set metadata = {
  "favicon": favicon_acf | default(options.favicon_png.url),
} %}

  <html class="no-js" itemscope itemtype="http://schema.org/{{schema_type | default('WebPage')}}">
  <head>
    {% set metadata = {
      "site_name":         site.name,
      "title":             page_title,
      "description":       post.share_description |
                           default(post.sell) |
                           default(post.product_description | striptags),
      "share_title":       post.share_title |
                           default(post.title),
      "share_description": post.share_description |
                           default(post.product_description | striptags),
      "url":               permalink |
                           default(post.permalink),
      "share_image":       post.get_field('product_images')[0] |
                           default(product_collection_category.category_image) |
                           default(options.default_share_image),
      "primary_colour":    primary_colour,
      "twitter_id":        options.twitter_id,
      "favicon_png":       options.favicon_png,
      "favicon_ico":       options.favicon_ico
    } %}

    {% include 'partials/metadata/template.twig' with {'metadata': metadata} %}

    {# Load in wp_head to get Krux goodness #}
    {{function('wp_head')}}

    {% if environment == "development" %}
      <!-- Styles are injected in real time via webpack server -->
      <script src="http://localhost:{{product_plugin.webpack_port}}/static/app.js"></script>
    {% endif %}
    {% if environment != "development" %}
      <link rel="stylesheet" href="{{product_plugin.css_file}}" type="text/css" />
    {% endif %}
    <link href='https://fonts.googleapis.com/css?family=Raleway:300,600,800' rel='stylesheet' type='text/css'>

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js')
    </script>

    {% if product_plugin.social.facebook_app_id %}
      <script>window.facebook_app_id = "{{product_plugin.social.facebook_app_id}}"</script>
    {% endif %}
    {% if product_plugin.social.twitter_id %}
      <script>window.twitter_id = "{{product_plugin.social.twitter_id}}"</script>
    {% endif %}

    {% block head %}
    {% endblock %}
  </head>
{% endblock %}
  <body>

    <div class="site-border-1"></div>
    <div class="site-border-2"></div>
    <div class="site-border-3"></div>
    <div class="site-border-4"></div>

    {% block header %}{% endblock %}

    <main class="site-content">
      {% block content %}{% endblock %}
    </main>

    {% if environment != "development" %}
      <script src="{{product_plugin.js_file}}"></script>
    {% endif %}

    {% include 'partials/browser-warning/template.twig' %}
    {% include 'analytics/template.twig' %}
    {% include "@AgreableProductPlugin/affiliate-links/template.twig" %}
  </body>
</html>
