{% block html_head_container %}

{% set favicon_acf = product_collection.get_field('product_collection_favicon').sizes.square %}
{% set metadata = {
  "favicon": favicon_acf | default(options.favicon_png.url),
} %}

  <html class="no-js" itemscope itemtype="http://schema.org/Article">
  <head>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta charset="UTF-8" />

    <title>{{product_collection.post_title}}</title>

    {# ICONS #}
    {% if options.favicon_png %}
      <link rel="apple-touch-icon" sizes="57x57" href="{{metadata.favicon|resize(57,57)}}">
      <link rel="apple-touch-icon" sizes="60x60" href="{{metadata.favicon|resize(60,60)}}">
      <link rel="apple-touch-icon" sizes="72x72" href="{{metadata.favicon|resize(72,72)}}">
      <link rel="apple-touch-icon" sizes="76x76" href="{{metadata.favicon|resize(76,76)}}">
      <link rel="apple-touch-icon" sizes="114x114" href="{{metadata.favicon|resize(114,114)}}">
      <link rel="apple-touch-icon" sizes="120x120" href="{{metadata.favicon|resize(120,120)}}">
      <link rel="apple-touch-icon" sizes="144x144" href="{{metadata.favicon|resize(144,144)}}">
      <link rel="apple-touch-icon" sizes="152x152" href="{{metadata.favicon|resize(152,152)}}">
      <link rel="apple-touch-icon" sizes="180x180" href="{{metadata.favicon|resize(180,180)}}">
      <link rel="icon" type="image/png" sizes="32x32" href="{{metadata.favicon|resize(32,32)}}">
      <link rel="icon" type="image/png" sizes="192x192" href="{{metadata.favicon|resize(192,192)}}">
      <link rel="icon" type="image/png" sizes="96x96" href="{{metadata.favicon|resize(96,96)}}">
      <link rel="icon" type="image/png" sizes="16x16" href="{{metadata.favicon|resize(16,16)}}">
    {% endif %}
    {% if options.favicon_ico %}
      <link rel="shortcut icon" href="{{metadata.favicon}}" type="image/x-icon" />
    {% endif %}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href='https://fonts.googleapis.com/css?family=Raleway:300,600,800' rel='stylesheet' type='text/css'>

    {# Load in wp_head to get Krux goodness #}
    {{function('wp_head')}}

    {% if environment == "development" %}
      <!-- Styles are inject in real time via webpack server -->
      <script src="http://localhost:{{webpack_port}}/static/app.js"></script>
    {% endif %}
    {% if environment == "production" %}
      <link rel="stylesheet" href="/app/dev/agreable-product-plugin/resources/assets/styles.css" type="text/css" />
    {% endif %}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js')</script>

    {% block head %}
    {% endblock %}
  </head>
{% endblock %}
  <body>

    <div class="site-border-1"></div>
    <div class="site-border-2"></div>

    {% block header %}{% endblock %}

    <main class="site-content">
      {% block content %}{% endblock %}
    </main>

    {% if environment == "production" %}
      <!-- Styles are inject in real time via webpack server -->
      <script async defer src="/app/dev/agreable-product-plugin/resources/assets/app.js"></script>
    {% endif %}

    {% include 'partials/browser-warning/template.twig' %}
    {% include 'analytics/template.twig' %}
    {% include "@AgreableProductPlugin/affiliate-links/template.twig" %}
  </body>
</html>
