 {% extends('@AgreableProductPlugin/base.twig') %}

{% block content %}

	<div class="product_collection_landing" style="background-image:url({{ product_collection.get_field('landing_page_background_image').sizes.square}})">
  
	  <div class="product_collection_landing-content">

	  	<h1 class="product_collection_landing-title">{{product_collection.post_title}}</h1>
	  	<h2 class="product_collection_landing-byline">BY</h2>
	  	<img src="{{site.url}}/app/uploads/2016/08/stylist-logo-white.png" class="product_collection_landing-image" alt="{{product_collection.post_title}} Logo">

	  	<h3 class="product_collection_landing-sell">{{product_collection.landing_page_sell}}</h3>

		  <ul class="product_collection-category-list">
		    {% for category in product_collection.get_field('categories') %}
		    	<li class="product_collection-link">
		    		<a href="{{site.url}}/shop/{{product_collection.slug}}/{{category.name|lower}}" class="product_collection-link-category">{{category.name}}</a>
		    	</li>
		    {% endfor %}
			</ul>

		</div>

	</div>

{% endblock %}
