{% set categories = product_plugin.product_collection_categories %}

{% extends('@AgreableProductPlugin/base.twig') %}

  {% block header %}
    {% include '@AgreableProductPlugin/site-header/template.twig' with {
      context: 'landing'
    } %}
  {% endblock %}

{% block content %}

  {% set image = product_collection.get_field('landing_page_background_image').url %}
  {% set image_mobile = product_collection.get_field('landing_page_background_image_mobile').url %}

  <style media="screen">
    {% if image_mobile %}
      .landing-container {
        background-image: url({{image_mobile}})
      }
      @media (min-width: 768px) {
    {% endif %}
      .landing-container {
        background-image: url({{image}})
      }
    {% if image_mobile %}
      }
    {% endif %}
  </style>

  <div class="landing-container">
    <div class="landing-container__inner">
      <h1 class="visually-hidden">{{product_collection}} by Stylist</h1>
      <div class="landing-container__logo">
        {% include '@AgreableProductPlugin/logo-bestbeauty-portrait.svg' %}
      </div>
      <div class="landing-container__sell">
        {{product_collection.landing_page_sell}}
      </div>
      <ul class="list-categories">
        {% for category in categories %}
          <li class="list-categories__list-item">
            <a href="{{site.url}}/shop/{{product_collection.slug}}/{{category.name|lower}}" class="list-categories__item">
              {{category.name}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}
