 {% extends('@AgreableProductPlugin/base.twig') %}

{% block content %}

	<div class="product_collection_landing">
  
	  <div class="product_collection_landing-content">

	    <img src="{{ product_collection.get_field('product_collection_logo').sizes.square}}" alt="{{product_collection.post_title}} Logo">
		  
		  <ul class="product_collection-category-list">
		    {% for category in product_collection.get_field('categories') %}
		      <li class="product_collection-link"><a href="{{product_collection.slug}}/{{category.name|lower}}" class="product_collection-link-category">{{category.name}}</a></li>
		    {% endfor %}
			</ul>

		</div>

	</div>

{% endblock %}
