{% extends('@AgreableProductPlugin/base.twig') %}

{% block content %}

<div class="product_collection">

  <div class="product_information">

    <div class="product_information-half">
      <img src="{{ TimberImage(product.get_field('product_images'))[0].src }}" class="product_information-image" alt="{{post.title}} product image">
    </div>

    <div class="product_information-half">
      <h2>{{product.post_title}}</h2>
      <h3>{{product.brand_name}}</h3>
      
      
      {% if product.product_rating %}
          {% if product.product_rating == '1' %}
            <span>☆</span>
          {% elseif product.product_rating == '2' %}
            <span>☆</span><span>☆</span>
          {% elseif product.product_rating == '3' %}
            <span>☆</span><span>☆</span><span>☆</span>
          {% elseif product.product_rating == '4' %}
            <span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          {% elseif product.product_rating == '5' %}
            <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
          {% endif %}
      {% endif %}
      
      <h3>{{product.product_price}}</h3>
      {% if product.product_offer %}
        <h3>{{product.product_offer}}</h3>
      {% endif %}
      <a href="{{product.product_affiliate_link}}" class="product_information-button">BUY HERE</a>
      <h4 class="product_information-quote">{{product.product_quote}} - {{product.product_quote_author}}</h4>
    </div>

  </div>


  <div class="product_collection-grid">
    <h2>You may also like...</h2>

    {% for product in product.get_field('more_products') %}
      <div class="product_collection_grid-single">
        <h4>{{product.post_title}}</h4>
        <img src="{{ TimberImage(product.product_images)[0].src }}" alt="{{product.post_title}} product image">
        <a href="{{product.guid}}" class="product_information-button">View product</a>
      </div>

    {% endfor %}
  </div>

</div>

{% endblock %}
