{% extends('@AgreableProductPlugin/base.twig') %}

{% block content %}

<div class="product_collection">

    <div class="product_information-half product_information-half-left">
      <img src="{{ product.get_field('product_images')[0].sizes.square }}" class="product_information-image" alt="{{post.title}} product image">
      <a href="{{product.product_affiliate_link}}" class="product_information-button">BUY HERE</a>
    </div>

    <div class="product_information-half product_information-half-right">
      {% if product.product_rating %}
        {% if product.product_rating == '1' %}
          <span>☆</span>
        {% elseif product.product_rating == '2' %}
          <span>☆</span><span>☆</span>
        {% elseif product.product_rating == '3' %}
          <span>☆</span><span>☆</span><span>☆</span>
        {% elseif product.product_rating == '4' %}
          <span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        {% elseif product.product_rating == '5' %}
          <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        {% endif %}
      {% endif %}
      <h2 class="product_information-title">{{product.post_title}}</h2>
      <h3 class="product_information-brand">{{product.brand_name}}</h3>

      <div class="product_information-finer-details">
        <h3 class="product_information-price">{{product.product_price}}</h3>
        {% if product.product_offer %}
          <h3 class="product_information-offer">{{product.product_offer}}</h3>
        {% endif %}
      </div>

      <h4 class="product_information-description">{{product.product_description}}</h4>
      <h4 class="product_information-quote">{{product.product_quote}}</h4>
      <h4 class="product_information-author">- {{product.product_quote_author}}</h4>


      {% include 'partials/share/template.twig' %}

    </div>


  <div class="product_collection-grid">
    <h2>You may also like...</h2>

    {% for product in product.get_field('more_products') %}
      <div class="product_collection_grid-single">
        <img src="{{ TimberImage(product.product_images)[0].src }}" alt="{{product.post_title}} product image">
        <h4>{{product.post_title}}</h4>
        <h4>{{product.brand_name}}</h4>

      </div>

    {% endfor %}
  </div>

</div>

{% endblock %}
