{% set product = TimberPost(product) %}

<a href="{{product.permalink}}" class="product-card" itemscope itemtype="http://schema.org/Product">

  {% set product_image = product.get_field('product_images')[0].sizes.square %}
  {% set brand_name = TimberTerm(product.beauty_product_brand) %}

  <div class="product-card__media">
    {% if 'product_categories-hero-winner' in product.class %}
      <div class="product-card__rosette">Hero Awards Winner</div>
    {% endif %}
    <div class="media-wrap media-wrap--square">
      <img class="product-card__image media-wrap__item" data-src="{{product_image}}" alt="{{product.post_title}} Product Image">
      <noscript>
        <img class="product-card__image media-wrap__item" src="{{product_image}}" alt="{{product.post_title}} Product Image" itemprop="image">
      </noscript>
    </div>
  </div>

  <div class="product-card__content">
    {% if 'product_categories-category-winner' in product.class %}
      <div class="product-card__badge">Winner</div>
    {% endif %}
    {% if product.product_rating %}
      <div class="product-card__rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
        {% include "@AgreableProductPlugin/star-rating/template.twig" with { modifier: 'small' } %}
        <span class="visually-hidden" itemprop="ratingValue">{{product.product_rating}}</span>
        <span class="visually-hidden" itemprop="ratingCount" content="1"></span>
      </div>
    {% endif %}
    <h3 class="product-card__title" itemprop="name">
      {{product.post_title}}
    </h3>
    <p class="product-card__brand" itemprop="brand">
      {{brand_name}}
    </p>
    {% if product.product_price %}
      <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <p class="product-card__price" itemprop="price" content="{{product.product_price|replace({'£': ''})}}">{{product.product_price}}</p>
        <span class="visually-hidden" itemprop="priceCurrency" content="GBP"></span>
      </span>
    {% endif %}
    <p class="product-card__link">View product</p>
  </div>
</a>
