<button class="site-nav-open js-fr-offcanvas-open" type="button" aria-controls="site-navigation">
  {% include '@AgreableProductPlugin/icon-hamburger.svg' %}
</button>
<section class="site-nav-container js-fr-offcanvas" id="site-navigation">
  <div class="site-nav-container__logo">
    {% include '@AgreableProductPlugin/logo-bestbeauty-portrait.svg' %}
  </div>
  <ul class="list-categories list-categories--reverse">
    {% for category in product_collection.get_field('categories') %}
      <li class="list-categories__list-item">
        <a class="list-categories__item" href="{{site.url}}/shop/{{product_collection.slug}}/{{category.name|lower}}">
          {{category.name}}
        </a>
      </li>
    {% endfor %}
  </ul>
  {% if product_plugin.secondary_navigation %}
    <ul class="list-bordered">
      {% for item in product_plugin.secondary_navigation %}
        <li class="list-bordered__list-item">
          <a class="list-bordered__item" href="{{item.url}}">{{item.title}}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <button class="site-nav-close js-fr-offcanvas-close">
    Close
  </button>
</section>
